# dependencies
node_modules/
package-lock.json
yarn-error.log
lerna-debug.log

# test coverage
coverage/

.DS_Store
.idea

.gcloudignore

# yarn v3
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# docs
docs/*
!docs/CNAME
!docs/index.html
!docs/verification.md
!docs/contribution.md
!docs/contribute0.png
!docs/contribute1.png
!docs/auth0.png
!docs/auth1.png
!docs/clean.png
!docs/logout.png

*.env
